<div class="bg">
    <div *ngIf = "display" class="loading">
        <app-fingerprint-spinner
        [animationDuration]="1000"
        [size]="200"
        [color]="'#7FFF00'"
      ></app-fingerprint-spinner>
        </div>

  <div class="container-fluid" *ngIf="displayContent">


   

      <h1 class="newfont clr aligncenter titleDesc" *ngIf="!filter">
        All Country Details 
      </h1>

        <h1>
      <div class="newfont clr aligncenter titleDesc" *ngIf="filter">
          {{filter}}

      </div>
      </h1>

    <br>
    <br>


    <div class="row alignment">


      <div class="col-lg-3 col-md-6" *ngFor="let country of allcountryDetails[0] | paginate: { itemsPerPage: 4, currentPage: p } ">



        <!-- Card -->
        <!--
          <article class="card card-inverse animated fadeInLeft">
            <img class="img-responsive card-img-top" src={{country.flag}} alt="Deer in nature" />
            <div class="card-img-overlay">
              <h4 class="card-title">{{country.name | uppercase }}</h4>
           
                <div class="clr">
                    <label class="highlight">Capital : </label> {{ country.capital}}</div>
                 
              
       
            </div>
          </article> -->
        <!-- .end Card -->


        <div class="card" style="width: 18rem;">
          <h4 class="card-title btn btn-success">{{country.name | uppercase }}</h4>

          <img class="card-img-top col-12" src="{{country.flag}}" alt="Card image cap">
          <div class="card-body">
            <div class="card-text">

              <div>
                <label class="newfont">Capital: </label>{{ country.capital}}
              </div>
              <div>
                <label class="newfont">Timezone: </label>{{ country.timezones}}
              </div>
              <div>
                <label class="newfont page">Currrency: </label>


                <div class="page" *ngIf="country.currencies.length>0">
                  <div class="page" *ngFor="let currency of country.currencies;let first=first;let last=last">
                    <p [routerLink]="['/country/currency/',currency.code]" class="underline">
                      {{currency.name}}{{last ? '' : ', '}}
                    </p>
                  </div>

                </div>

              </div>
              <div>
                <label class="newfont page">Languages: </label>
                <div class="page" *ngIf="country.languages.length>0">
                  <div class="page" *ngFor="let langauage of country.languages;let first=first;let last=last">
                    <p [routerLink]="['/country/language/',langauage.iso639_1]" class="underline">
                      {{langauage.name}}{{last ? ' ' : ", "}}
                    </p>
                  </div>

                </div>



              </div>

            </div>
          </div>
          <a class="btn btn-primary" style="width: 100%" [routerLink]="['/country',country.name]">See Details</a>

        </div>
        <br>

      </div>

    </div>
    <br>
    <br>
    <div class="row">
    
      <div class="col-md-12 aligncenter">
        <a class="btn btn-success page "  (click)="backClicked()">
          << &nbsp;Go Back</a> <pagination-controls class="my-pagination page" (pageChange)="p = $event">
            </pagination-controls>  &nbsp; &nbsp;&nbsp; &nbsp;
            <a class="btn btn-success page" [routerLink]="['/view']">
                &nbsp;Home</a> 
      </div>
      

    </div>

  </div>


</div>