

.card {
    overflow: hidden;
    transition: .25s transform;
    -webkit-transition: transform 0.25s ease-out;
    -moz-transition: transform  0.25s ease-out;
    -o-transition: transform  0.25s ease-out;
    transition: transform  0.25s ease-out;
    
  }
  .card-inverse .card-img-overlay {
    background-color:  #333333;
    border-color:  #333333;
    opacity: 0.6;
    
  }

  

  .card {
    
    opacity: 0.9;
   
    border-radius: 25px;

  }

.card:hover{
    /*  */
        transform: scale(1.08); 
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    
}


.card-img-top {
    object-fit: cover;
    max-height: 100px;
    }

    .my-pagination /deep/ .ngx-pagination .current {
        background: blue;
       color:white;
       align-self:center;

      }

      .my-pagination  /deep/  .ngx-pagination a, .ngx-pagination button {
        color: white;
      }

      .page{
          display:inline-block;
          
      }
      .clr{
          color:white;
      }
      .newfont{
          font-weight: bold;
      }
  

    .underline{
        cursor: -webkit-grab; cursor: grab;
        color:blue;
      }     
      
      .underline:hover{
          text-decoration: underline;
      
      }

    .aligncenter{
        text-align:center;
    }


    .titleDesc {
        font-family: Book Antiqua;
        color:green;
        padding-left: 1%;
        border-left: 6px solid #4CAF50;
        background-color: lightgrey;
    }


    @media only screen and (max-width: 600px) {
        .alignment{
            margin: auto;
            width: 80%;
        }
    }