
.card {
    overflow: hidden;
    transition: .25s transform;
    -webkit-transition: transform 0.25s ease-out;
    -moz-transition: transform  0.25s ease-out;
    -o-transition: transform  0.25s ease-out;
    transition: transform  0.25s ease-out;
    
  }
  .card-inverse .card-img-overlay {
    background-color:  #333333;
    border-color:  #333333;
    opacity: 0.6;
  }

  .card-title, .card-text{
      color: white;
  }

  .card {
    max-height: 350px;
    opacity: 0.9;
   
    border-radius: 25px;

  }

.card:hover{
    
        transform: scale(1.08); 
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    
}

.bg {
    background-image: url('./earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}