.bg {
    background-image: url('./assets/Images/earth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 820px;
}

.loading{ 
    position: absolute;
    left:40%;
    top:30%;
  
  }
  

  @media only screen and (max-width: 600px) {
    .loading{ 
        position: absolute;
        left:30%;
        top:30%;

      }
      
}